html {
  background-color: rgb(156, 97, 29);
  overflow: hidden;
  background: url('/stream.mjpg');
  background-size: 100vw 100vh;
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hud {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1vh;
  right: 5vw;
}

.controller-input {
  border-color: black;
  border: 0.2rem solid;
  height: 10vh;
  width: 20px;
  margin: 0px 3px 0px 3px;
  background: linear-gradient(to bottom, black 100%, white 100%);
}

.nitro-button {
  width: 4rem;
  height: 10vh;
  color: red;
}

.steering-wheel {
  width: 10vh;
  height: 10vh;
}
